body{
    /* background:rgb(69, 119, 129) ;*/
    background-image: url('fotocampo.png');
    background-size: cover;
   background-position: center;
   font-family: Arial, sans-serif;
 }
 
 section{
     background: rgb(148, 151, 153);
     text-align: center;
     border: 5px solid rgb(255, 255, 255) ;
     margin: auto;
     width: 500px;
     padding: 50px;
    
 }
 section#sec2{
     width: 200px;
     padding: 20;
     box-shadow: 10px 10px 10px rgb(94, 87, 87) ;
     color: rgb(15, 15, 13);
     
 }
 section#sec3{
     width: 200px;
     padding: 20;
     box-shadow: 10px 10px 10px rgb(94, 87, 87) ;
     color: rgb(15, 15, 13);
 }section#sec4{
     width: 200px;
     padding: 20;
     box-shadow: 10px 10px 10px rgb(94, 87, 87) ;
     color: rgb(15, 15, 13);
 }
 
 header{
     text-align: center;
     font: normal 50px Arial;
     color: rgb(255, 252, 252);
 }
 label{
     cursor: pointer;
 }
 input{
     cursor: pointer;
 }